{% extends 'mountains/base.html' %}

{% block content %}
	<div>
		<h2>{{ mountain.name }}</h2><a href="{% url 'mountain_edit' pk=mountain.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		
		<div>
			<img src="{{ mountain.display_image }}" />
		</div>
		<div class="well">
			<p>{{ mountain.description }}</p>
		</div>
		<div>
		General info:
		<ul>
			<li>range: <a href="{% url 'mountain_range_detail' mountain.mountain_range.pk %}">{{ mountain.mountain_range }}</a></li>
			<li>height: {{ mountain.height }} ft</li>
			<li>location: <a target="_blank" href="http://maps.google.com/maps?&z=19&mrt=loc&t=k&q={{ mountain.latitude }}+{{ mountain.longitude }}">{{ mountain.latitude }}, {{ mountain.longitude }}</a></li>
			<li>snow level: {{ mountain.snow_level }} ft</li>
			<li>marmot sightings: <div id="n-marmots">{{ mountain.number_of_marmots_seen }}</div></li>
		</ul>
	</div>

	<hr>
	Snow? (add a text box?)

	<hr>
	<div>
		<button id="btn-marmot" data-pk="{{mountain.id}}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-plus"></span>
        See a marmot?
        </button>
        </div>
	<hr>

	<div>
		<a href="/">back</a>
	</div>
{% endblock %}