body {
	background-color: #FFD1AA;
	font-family: Verdana;
}

hr {
	border: 1px solid #D49B6A;
}


.page-header {
    background-color: #D49B6A;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #802915;
    font-size: 36pt;
    text-decoration: none;
}


.content {
    margin-left: 40px;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.mountain-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

a {
    color: #257059;	
}


.mountain h1 a, .mountain h1 a:visited {
    color: #257059;
}

.add-text {
    font-size: 18pt;
    color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #FFD1AA;
}


tbody tr:nth-child(odd) {
  background-color: #D49B6A;
}
